:root {
    --brand-color: #4D5AE5;
    --action-color: #404BBF;
    --dark-color: #2E2F42;
    --main-background-color: #FFFFFF;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.btn {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* -----------HEADER----------- */
.header {
    background-color: var(--main-background-color);
}
.header-logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--dark-color);
}
.header-logo > span {
    color: var(--brand-color);
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.header-mail, .header-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.header-link:hover, .header-mail:hover, .header-tel:hover,
.header-link:focus, .header-mail:focus, .header-tel:focus {
    color: var(--action-color);
}

/* -----------HERO----------- */
.hero {
    background-color: var(--dark-color);
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.hero-btn:active {
    background-color: var(--action-color);
}

/* -----------FEATURES----------- */
.features {
    background-color: var(--main-background-color);
}
.features-list-item-title {

}
.features-list-item-text {

}

/* -----------ABOUT----------- */
.about {
    background-color: var(--main-background-color);
}
.about-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/* -----------TEAM----------- */
.team {
    background-color: var(--light-color);
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-item {
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-name {
    text-align: center;
}
.team-text {
    text-align: center;
}
/* -----------FOOTER----------- */
.footer {
    background-color: var(--dark-color);
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
}
.footer-logo > span {
    color: var(--brand-color);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* -----------PORTFOLIO PAGE----------- */
.projects {
    background-color: var(--main-background-color);
}
.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color);
    letter-spacing: 0.04em;
    background-color: var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}
.filter-btn:active {
    color: #FFFFFF;
    background-color: var(--action-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.project-card {
    background-color: var(--main-background-color);
    border: 1px solid var(--accent-color);
}
.project-title {

}
.project-text {

}